In [1]:
# LINK GOOGLE DRIVE"

from google.colab import drive
drive.mount('/content/drive')

Mounted at /content/drive

In [2]:
# Imports
import numpy as np
import pandas as pd
from tqdm import tqdm  
import requests
import pandas as pd

In [22]:
dframe = pd.DataFrame()
for year in tqdm(range(1957,2022)):
    for month in range(13):
        url = 'https://www.n2yo.com/browse/?y=' + str(year) + '&m=' + str(month)
        html = requests.get(url).content
        df_list = pd.read_html(html)
        df = df_list[2]
        if df.empty == True:
            continue

        dframe = dframe.append(df, ignore_index=True)

dframe.drop_duplicates(subset ="Name", keep = False, inplace = True)
dframe.to_csv('/content/drive/MyDrive/CS685_project/data/launch_dates.csv')
dframe.head()

100%|██████████| 65/65 [08:49<00:00,  8.15s/it]

         Name Launch date (YYYY-MM-DD)    Status    Action
0    SL-1 R/B               1957-10-04   DECAYED       NaN
1   SPUTNIK 1               1957-10-04   DECAYED       NaN
2   SPUTNIK 2               1957-11-03   DECAYED       NaN
3  EXPLORER 1               1958-02-01   DECAYED       NaN
4  VANGUARD 1               1958-03-17  IN ORBIT  TRACK IT

In [15]:
dframe.head()

        Name Launch date (YYYY-MM-DD)   Status  Action
0   SL-1 R/B               1957-10-04  DECAYED     NaN
1  SPUTNIK 1               1957-10-04  DECAYED     NaN

In [25]:
dframe.drop_duplicates(subset ="Name",
                     keep = False, inplace = True)
dframe.head()
dframe.to_csv('/content/drive/MyDrive/CS685_project/data/launch_dates.csv')